body{
    display: grid;
    background-image: url(./images/5323314.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.container{
    margin: auto;
}

.container2{
    display: none;
}
button{
    padding: 5px;
    border-radius: 2px;
    border: solid 1px;
    margin: 2px;
}

h1{
    color: aliceblue;
}
button:hover{
    background-color: blueviolet;
    padding: 20px;
}