body{
    display: grid;
    background-image: url(./images/5323314.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    display: flex;
}

.container{
    margin: auto;
    max-width: 600px;
    font-size: 20px;
    color: wheat;
}

.container2{
    display: none;
}
button{
    padding: 5px;
    border-radius: 2px;
    border: solid 1px;
    margin: 2px;
    text-align: center;
}

h1{
    color: aliceblue;
    text-align: center;
}
button:hover{
    background-color: blueviolet;
    padding: 20px;
}
h2{
    text-align: center;
    color: green;
    background-color: wheat;
}
p{
    font-size: 70px;
    line-height: 15px;

}